

@media screen and (min-width: 320px ) and (max-width:900px)  {

    .header {
        padding: 0;
    
        &__titre {
            width: 10%;
            margin-left: 45%;
        }
    
        &__contenant {
            display: none;
        }
    }

    .transition {
        padding:  0 0 0 0;
    }

    .transition2 {
        display: block;
        padding: 0;
    }

    .parcours__apropomarge {
    margin-left: 10% !important;
    position: absolute;
    margin-top: 48rem;
}

    .dessinmoi {
    width: 50%;
    margin-left: 30%;
    margin-top: -9rem;
}

    .btncarte{
    display: inline-block;
    text-decoration: none;
    background: #ffa197;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 0px 5px #ffa197;
    box-shadow: 0px 0px 0px 5px #ffa197;
    border: dashed 1px #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

    .btncarte1 {
    display: inline-block;
    text-decoration: none;
    background: #ca95c4;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 0px 5px #ca95c4;
    box-shadow: 0px 0px 0px 5px #ca95c4;
    border: dashed 1px #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.btncarte2 {
    display: inline-block;
    text-decoration: none;
    background: #a1d3e2;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 0px 5px #a1d3e2;
    box-shadow: 0px 0px 0px 5px #a1d3e2;
    border: dashed 1px #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}




.presentation__video {
    object-fit: cover;
    height: 45rem;
}

.container {
    width: 50%;
}

.template {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.loisir{
    height: 130rem;
}

.btncarte__titre {
    color: white;
    margin-top: -8px !important;
    font-size: 12px;
}

    .btnlien {
        padding: 1rem 0 0 30%;
    }
    
    .content{
        padding-bottom: 1rem;
    }
    
    .presentation__image{
        width: 100%;
    }
    
    .moi {
        padding: 0;
    
        &__texte {
            padding: 2rem;
            margin: 0;
        }
    }
    
    .cartes {  
    background-color: #ccd7fc;
    padding: 5rem 0 1rem 1rem;
    
    }

    .autre {
    height: 10rem;
    margin-top: -5px;
    background-color: #7c8cc2;
}
    
    .parcours {
        padding: 2rem 2rem 5rem 1rem;
        height: 92rem !important;
        background-color: #7c8cc2;
        
    
        &__contenant {
            width: 85%;
        }

        &__apropo {
            margin-left: 1.5rem;
        }

        &__apropomarge {
            margin: 0;
        }

        &__apropotexte {
            text-align: justify;
            font-size: 17px;
            margin-bottom: 3rem; 
            margin-left: 1.5rem;
        }
    }

    .pong-loader {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }

    


    }

@media screen and (min-width: 600px ) and (max-width:1229px) {


.moi {
    padding: 1rem 5rem 1rem 5rem;
}

.transition2 {
    padding: 5rem 7rem 0rem 0rem !important;
}

.transition {
    margin-left: 5rem;
}

.parcours {
    background-color: #7c8cc2;
    margin-top: -30px;
    padding: 6rem 0rem 0rem 6rem;
    height: 55rem;
}

.autre {
    height: 17rem;
    margin-top: -5px;
    background-color: #7c8cc2;
}

.footer {
    height: 7rem;
    background-color: #CCD7FC;
    margin-top: -5px;
}

.dessinmoi {
    width: 50%;
    margin-left: 30%;
    margin-top: -5rem;
}

.parcours__apropocontent {
    width: 100%;
    margin-bottom: 10rem;
}


.parcours__apropomarge {
    margin-left: 5rem;
  }

.parcours__contenant{
    width: 90%;
}

.header {
    padding: 1rem 3rem 1rem 3rem;
}

.parcours__apropotexte {
    text-align: justify;
}
}

@media screen and (min-width: 1500px) {
    .parcours {
        background-color: #7c8cc2;
    }

    .transition2 {
        height: 45rem;
        display: flex;
        padding: 5rem 13rem 0rem 20rem;
        
    }

    .transition2.active {
        transform: translateX(0%);
    opacity: 1;
    }

    .autre {
    height: 40rem;
    margin-top: -5px;
    background-color: #7c8cc2;
}

    .cartes {
        padding: 10rem 7rem 2rem 21rem;
    }

    .footer {
    height: 10rem;
    background-color: #CCD7FC;
    margin-top: -5px;
}

    .moi {
        padding: 1rem 30rem 1rem 30rem;
    }

    .header__titre {
        width: 5%;
    }

    

    
}

@media screen and (min-width: 1230px)and(max-width: 1499px) {
     .parcours {
        background-color: #7c8cc2;
        height: 50rem;
    }

    .transition2 {
        padding: 5rem 13rem 0rem 10rem;
    }

    .transition {
        margin-left: 10rem;
    }

    

    .autre {
    height: 26rem;
    margin-top: -5px;
    background-color: #7c8cc2;
}

    
    

    .moi {
        padding: 1rem 5rem 1rem 5rem;
    }

    .header__titre {
        width: 5%;
    }

    
}

@media screen and (min-width:1600px) {
    .parcours__apropomarge {
    margin-left: 10rem;
    margin-right: 10rem;
}
}

