.contenant {
    height: 900px;
    background-color: #ccd7fc;
}

.vague5 {
    background-color: #ccd7fc;
}

.fond {
    background-color: #ccd7fc ;
    height: 150px;
}

a {
    text-decoration: none;
}

.header__titre {
    width: 10% !important;
}